n8n-workflow-B-lead-capture.json
{
  "name": "TyreDesk — B — Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tyredesk-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1111111-1111-4111-8111-aaaaaaaaaaaa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-60, 320],
      "webhookId": "tyredesk-lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "g1", "name": "lead_name",  "type": "string", "value": "={{ $json.body.name }}" },
            { "id": "g2", "name": "lead_phone", "type": "string", "value": "={{ $json.body.phone }}" },
            { "id": "g3", "name": "tyre_size",  "type": "string", "value": "={{ $json.body.tyre_size }}" },
            { "id": "g4", "name": "tyre_brand", "type": "string", "value": "={{ $json.body.tyre_brand }}" },
            { "id": "g5", "name": "vehicle",    "type": "string", "value": "={{ $json.body.vehicle }}" },
            { "id": "g6", "name": "timestamp",  "type": "string", "value": "={{ $now.toISO() }}" },
            { "id": "g7", "name": "source",     "type": "string", "value": "TyreDesk Demo" }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "g8888888-8888-4888-8888-888888888888",
      "name": "Format Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [180, 320]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "name": "={{ $json.lead_name }}",
            "phone": "={{ $json.lead_phone }}",
            "tyre": "={{ $json.tyre_size }}",
            "brand": "={{ $json.tyre_brand }}",
            "vehicle": "={{ $json.vehicle }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "type": "string", "canBeUsedToMatch": true, "required": false, "display": true },
            { "id": "name",      "displayName": "name",      "type": "string", "canBeUsedToMatch": true, "required": false, "display": true },
            { "id": "phone",     "displayName": "phone",     "type": "string", "canBeUsedToMatch": true, "required": false, "display": true },
            { "id": "tyre",      "displayName": "tyre",      "type": "string", "canBeUsedToMatch": true, "required": false, "display": true },
            { "id": "brand",     "displayName": "brand",     "type": "string", "canBeUsedToMatch": true, "required": false, "display": true },
            { "id": "vehicle",   "displayName": "vehicle",   "type": "string", "canBeUsedToMatch": true, "required": false, "display": true },
            { "id": "source",    "displayName": "source",    "type": "string", "canBeUsedToMatch": true, "required": false, "display": true }
          ]
        },
        "options": {}
      },
      "id": "h9999999-9999-4999-8999-999999999999",
      "name": "Google Sheets — Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [420, 320],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "REPLACE_WITH_YOUR_NOTIFY_EMAIL@gmail.com",
        "subject": "=Tyre Lead — {{ $json.tyre_size }} — {{ $json.vehicle }}",
        "emailType": "text",
        "message": "=New tyre reservation lead from the TyreDesk demo:\n\nName: {{ $json.lead_name }}\nPhone: {{ $json.lead_phone }}\nTyre: {{ $json.tyre_size }} {{ $json.tyre_brand }}\nVehicle: {{ $json.vehicle }}\nReceived: {{ $json.timestamp }}\nSource: {{ $json.source }}",
        "options": {}
      },
      "id": "i0000000-0000-4000-8000-000000000000",
      "name": "Gmail — Notify",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, 320],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Request received — we will contact you within 2 hours.\" } }}",
        "options": {}
      },
      "id": "j1212121-1212-4121-8121-121212121212",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 320]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Format Lead", "type": "main", "index": 0 }]] },
    "Format Lead": { "main": [[{ "node": "Google Sheets — Append", "type": "main", "index": 0 }]] },
    "Google Sheets — Append": { "main": [[{ "node": "Gmail — Notify", "type": "main", "index": 0 }]] },
    "Gmail — Notify": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templatecredsSetupCompleted": false }
}
